body {
    background-color: rgb(32, 15, 15);
}

.header {
    text-align: center;
    color: teal;
    font-style: italic;
}

div.playingField {
    position: relative;
    background-color: lawngreen;
    width: 900px;
    height: 900px;
    margin: auto;
    /* display: table-row; */
}

div.row {
    position: relative;
    background-color: antiquewhite;
    width: 900px;
    height: 280px;
    display: flex;
    flex-direction: row;
}

div.emptySquare {
    position: relative;
    background-color: black;
    width: 280px;
    height: 280px;
    border: none;
}

div.line {
    position: relative;
    background-color: white;
    width: 30px;
    height: 280px;
}

div.horizontalLine {
    position: relative;
    background-color: white;
    width: 900px;
    height: 30px;
}

div.xSquare {
    position: relative;
    background-color: black;
    width: 280px;
    height: 280px;
    border: none;
    background: url("../img/white_x.jpg") no-repeat center center black;
}

.oSquare {
    position: relative;
    background-color: black;
    width: 280px;
    height: 280px;
    border: none;
    background: url("../img/white_o.jpg") no-repeat center center black;
}