@import 'leftMenu.css';
@import 'nickMenu.css';
@import 'gameField.css';

/*main css bodys and container to keep order*/
html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: rgb(32, 15, 15);
    height: 100%;
    margin: 0 !important;
}

#cloud-container {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
}
/*==========================================*/

/*menu on the left side (main div)*/
.menu {
    position: relative;
    background-color: #0E0E0E;
    width: 17%;
    height: 100%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.menuHidden {
    visibility: hidden;
    width: 0%;
    height: 0%;
}
/*--------------------------------*/


/*game on the right (main div)*/
.game {
    position: relative;
    background-color: #0E0E0E;
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameFullscreen {
    position: relative;
    background-color: #0E0E0E;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*----------------------------*/


/**/
div.nickMenu {
    position: absolute;
    /* background-color: #E0E1E1; */
    /* background-color: #001F54; */
    /* background-color: #E2EFDE; */
    background: url("../img/c13.jpg") no-repeat center center;
    width: 300px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    border: 3px solid #466365;
    z-index: +1;
    margin: auto; 
    display: flex;
    flex-direction: column;
}
/**/

/*helping style for hiding what need not be seem*/
div.hidden {
    position: fixed;
    top: 35%;
    left: 57%;
    visibility: hidden;
}
/*----------------------------------------------*/