/*main css bodys and container to keep order*/
html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: rgb(32, 15, 15);
    height: 100%;
    margin: 0 !important;
}

#cloud-container {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
}
/*==========================================*/

/*menu on the left side (main div)*/
.menu {
    position: relative;
    background-color: #0E0E0E;
    width: 17%;
    height: 100%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.menuHidden {
    visibility: hidden;
    width: 0%;
    height: 0%;
}
/*--------------------------------*/

/*top of the menu, where the tic-tac-toe is*/
.header {
    position: relative;
    background-color: #0E0E0E;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.headerText {
    position: relative;
    color: #33387A;
    font-size: 50px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin: auto;
}

.headerText:hover {
    cursor: default;
}
/*-----------------------------------------*/

/*new game (cancel) in the MENU div*/
div.newGame {
    background-color: #0E0E0E;
    width: 20vmin;
    height: 10vmin;
    min-width: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.newGameText {
    background-color: #33387A;
    position: relative;
    text-align: center;
    color: #F2F2F2;
    border-color: #33387A;
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
    margin: auto;
}

.newGameText:hover {
    background-color: #33387A;
    cursor: pointer;
}
/*---------------------------------*/

/*timer (bottom left) in the MENU div*/
div.timer {
    position: absolute;
    width: 70%;
    height: 9%;
    bottom: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.timerText {
    position: relative;
    font-size: 4vmin;
    text-align: center;
    margin: 0 auto;
    color: #f2f2f2;
    font-family: 'Indie Flower', cursive;
    line-height: 93%;
}
/*-----------------------------------*/

/*game on the right (main div)*/
.game {
    position: relative;
    background-color: #0E0E0E;
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameFullscreen {
    position: relative;
    background-color: #0E0E0E;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*----------------------------*/

/*the highiest level of the divs in the GAME DIV*/
div.playingField {
    position: relative;
    background-color: 0E0E0E;
    max-width: 650px;
    width: 100%;
    height: 90vmin;
    margin: auto;
}

div.row {
    position: relative;
    background-color: antiquewhite;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

div.bar {
    position: relative;
    background-color: #0E0E0E;
    width: 3%;
    height: 100%;
}

div.barLeft {
    position: relative;
    background-color: rgb(10, 10, 10);
    width: 35px;
    height: 100%;
}
/*----------------------------------------------*/

/*div to hide the left menu and everything that's inside of it*/
div.hideMenu {
    background-color: #F2F2F2;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

div.boxForVerticalBars {
    margin: auto;
    width: 35px;
    height: 21px;
    display: flex;
    flex-direction: column;
}

div.verticalBar {
    position: relative;
    margin: auto;
    background-color: #C0C0C0;
    width: 22px;
    height: 3px;
}
/*------------------------------------------------------------*/

/*main things making the playing field that are inside row*/
div.emptySquare {
    position: relative;
    background-color: #0E0E0E;
    width: 30%;
    height: 100%;
    border: none;
}

div.xSquare {
    position: relative;
    background-color: #0E0E0E;
    width: 30%;
    height: 100%;
    border: none;
    background: url("img/white_x.jpg") no-repeat center center #0E0E0E;
    background-size: 95%;
}

div.oSquare {
    position: relative;
    background-color: #0E0E0E;
    width: 30%;
    height: 100%;
    border: none;
    background: url("img/white_o.jpg") no-repeat center center #0E0E0E;
    background-size: 120%;
}

div.line {
    position: relative;
    background-color: #F2F2F2;
    width: 5%;
    height: 100%;
}

div.horizontalLine {
    position: relative;
    background-color: #F2F2F2;
    width: 100%;
    height: 5%;
}
/*--------------------------------------------------------*/

/*play div in the middle of the game div*/
.firstGame {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.firstGameText {
    position: relative;
    background-color: #33387A;
    font-size: 14vmin;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin: auto;
    border-radius: 6px;
    border: 2px solid #544B7A;
}

.firstGameText:active {
    transform: translateY(4px);
}

.firstGameText:hover {
    background-color: rgb(61, 66, 141);
    cursor: pointer;
}
/*--------------------------------------*/

/*message after the game ends in the place of first game*/
div.message {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.messageText {
    position: relative;
    background-color: #33387A;
    font-size: 14vmin;
    text-align: center;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    border-radius: 6px;
    border: 2px solid #544B7A;
}

.messageText:hover {
    cursor: default;
}
/*------------------------------------------------------*/

/*helping style for hiding what need not be seem*/
div.hidden {
    position: fixed;
    top: 35%;
    left: 57%;
    visibility: hidden;
}
/*----------------------------------------------*/